%h1.brand Verba

.login-form.col-sm-6.col-lg-offset-3
  = form_tag(login_path) do
    .form-field.col-sm-12
      = text_field_tag :username, nil, placeholder: "username"
    .form-field.col-sm-12
      = password_field_tag :password, nil, placeholder: "password"
    .submit-form.col-sm-12
      = submit_tag "Login"
