<style>
  .greeting {
    margin-bottom: 20px;
  }

  .body {
    margin-bottom: 20px;
  }
</style>

.greeting= "Hi #{@user.username},"

.body
  %p
    Whoops, forgotten your Verba password? Don’t worry, it happens to the best of us. Simply click this link and we’ll have you all set-up with a new password in no time. Hopefully something easier to remember.

  %p
    = link_to "Reset password here", edit_password_reset_url(@password_reset, token: @password_reset.token)

  %p Enjoy your shiny new password,

  The Verba Team

