%section.flex-center--row.flex-justify--space-around
  = image_tag("https://d1015h9unskp4y.cloudfront.net/attachments/bae8bafd-4081-4b2b-b6f4-c9d4c367ded8/verba.png", class: "verba-logo-small")
  %div
    = link_to "Register", new_user_path, class: "link"
    = link_to "Log in", login_path, class: "link"


%section.flex-center--column
  %h1.hero-title Write every day.
  %p.hero-subheading.col-sm-7.text-center Verba helps you become a better writer by reminding you to write and tracking your progress.

  %ul.about-list.flex-center--column.col-sm-6
    %h2 Here's how it works:
    %li.about-list__item
      We send you a writing prompt every day. Feel free to write about whatever you want, the prompt is only there to help you if you can't think of anything to write about.
    %li.about-list__item
      We'll keep track of a few key stats including word count and streaks of consecutive days that you write. Consistency is the name of the game.

    %li.about-list__item
      If you need some additional motivation, you can earn badges for reaching certain milestones, like keeping up a writing streak of five days.

    %li.about-list__item
      Your posts are private by default, but you may choose to publish them to the Verba community. Share your work and get feedback.

  = link_to "Register", new_user_path, class: "button", id: "landing-page-register-button"

  %h2 Pricing:
  .pricing-section.breathe
    .pricing-section__price
      $5
      .pricing-section__price__per-month
        \/month
    .pricing-section__explanation
      \- This will help Verba keep the lights on and improve.
    .pricing-section__explanation
      \- Try it free for 7 days.

  .flex-center--column.col-sm-6.breathe
    %h2 Our challenge to you:
    %p.challenge
      If you write every day for a month, we will give you your money back. We created Verba to motivate people to become better writers. Building habits is a powerful way to learn any skill, so we want to reward people who go the extra mile.

