<style>
  .greeting {
    margin-bottom: 20px;
  }

  .body {
    margin-bottom: 20px;
  }
</style>

<div class="greeting">
  Hi, <%= @user.username %>
</div>

<div class="body">
  Here is today's writing prompt:

  <h3>
    <%= @prompt.content %>
  </h3>
</div>

<div class="action">
  <%= link_to "Keep writing!", root_url %>
</div>
