<style>
  .greeting {
    margin-bottom: 20px;
  }

  .body {
    margin-bottom: 20px;
  }
</style>

<div class="greeting">
  Hi, <%= @user.username %>
</div>

<div class="body">
  Here is today's writing prompt:

  <h3>
    <%= @prompt.content %>
  </h3>

  <p>
    Ready to get started? Then click here and begin writing. Remember once you’re done we’d love to read it, so why not mark it as public?
  </p>

  <p>
    Happy writing!
  </p>

  The Verba Team.
</div>

<div class="action">
  <%= link_to "Keep writing!", root_url %>
</div>
