= render 'layouts/side_bar'

.col-sm-9.user-posts
  = link_to "Keep writing", root_path, class: "keep-writing pull-right"
  %h1.title
    Posts
  - if @profile.current_users_profile?
    = render_posts @profile.posts
  - else
    Sorry, this user has no public posts

