%article.welcome
  = image_tag "https://d1015h9unskp4y.cloudfront.net/attachments/bae8bafd-4081-4b2b-b6f4-c9d4c367ded8/verba.png", width: "200px"
  %p.col-md-6
    Welcome
    %span= current_user.username + "!"
  %p.col-md-6
    You're here because you want to become a better writer and communicator. Verba is here to help.

  %p.col-md-6
    Here's how Verba works:

  %ul.col-md-6
    %li
      You'll receive a daily e-mail with a writing prompt to get you started, if you aren't feeling particularly inspired. When you log in, you can simply begin writing, either using the prompt or your own topic. You could talk about what you are going to do during your day or an issue that you have had on your mind.
    %br/
    %li
      Verba supports writing in Markdown for formatting your posts.
      = link_to "Daring Fireball", "http://daringfireball.net/projects/markdown/"
      has a great introduction to Markdown.
    %br/
    %li
      We'll keep track of some key stats including word count, number of posts, and streaks of consecutive days that you wrote.
    %br/
    %li
      Your writing is private by default. You may choose, though, to publish a post and get feedback from other writers in the community.

  = link_to "Let's get started!", root_path, class: "button get-started"
