.top-left
  = link_to "Write", root_path, class: "write-button"
  = link_to "Archive", archive_path, class: "archive-profile-link"

.top-right
  = link_to "Log out", "#", class: "logout"

%h1.col-sm-6.col-sm-offset-3.title
  Profile

%section.stats.col-sm-6.col-sm-offset-3
  .word-stats
    Garrett, you have written
    %span.count 789
    words today.
  .point-stats
    You have
    %span.points 204
    points.
