.overlay.overlay-synonyms
.modal.modal-synonyms
  %span.modal-top-bar
  .close.close-synonyms
    x
  %h4 Synonyms:
  %ul.synonyms-list
    - if response.present?
      - response.each do |synonym|
        %li.synonym
          = synonym
    - else
      %li.synonym
        No synonyms found.
  .scroll-indicator.hidden
    &darr;
