%section.select-prompt-section
  %section.select-prompt-section__today
    %h2 Today's prompt:
    %p.writing-prompt
      = @prompt.content
    = link_to "Use today's prompt", posts_path, class: "start-writing",
      method: :post
  %section.select-prompt-section__random
    %h2 Random prompt
    %p.writing-prompt
      = @random_prompt.content
    = link_to "Use random prompt", posts_path(prompt_id: @random_prompt.id),
      class: "start-writing",
      method: :post
-# = link_to "Profile", profile_path, class: "button-light"
