= render 'layouts/side_bar'

.col-sm-3.col-sm-offset-3
  = link_to "&#10094; back to my profile".html_safe, profile_path, class: "back"

.col-sm-6.post
  .date
    = @post.date
  .content
    = markdown_format @post
