<style>
  .greeting {
    margin-bottom: 20px;
  }

  .body {
    margin-bottom: 20px;
  }
</style>

<div class="greeting">
  Hi, <%= @user.username %>.
</div>

<div class="body">
  <%= @reminder_copy.copy %>
</div>

<div class="action">
  <%= link_to @reminder_copy.action, root_url %>
</div>
