/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$xs: 12px;
$small: 18px;
$medium: 24px;
$large: 32px;
$xl: 40px;

$default: darken(#bbb, 25%);
$light-default: #bbb;

$sans: 'Lato', sans-serif;
$serif: 'Vollkorn', serif;

$light: 300;
$regular: 400;
$bold: 700;

body {
  font-family: $sans;
}

.hidden {
  display: none;
}

// WRITING INTERFACE
.start-writing {
  margin-top: 23%;
  font-size: $large;
  border: none;
  color: $default;
  outline: 1px solid $light-default;
  background: transparent;
  padding: 5px 50px;
  text-align: center;

  &:hover {
    transition: all 0.3s ease;
    outline: 2px solid $default;
    text-decoration: none;
    color: $default;
  }
}

.word-count {
  font-weight: $light;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: $small;
  color: $light-default;
  cursor: default;

  &:hover {
    transition: color 100ms;
    color: $default;
  }

  .wordz {
    color: $default;
    margin-left: 5px;
  }
}

.writing-prompt-link {
  position: absolute;
  top: 7%;
  left: 24%;
  color: $light-default;
  font-size: $xs;
  cursor: pointer;

  &:hover {
    color: $default;
  }
}

.writing-prompt {
  width: 50%;
  position: absolute;
  top: 6%;
  left: 24%;
  color: $default;
  font-size: $small;
  cursor: pointer;
  font-family: $serif;
  overflow: scroll;
}

.new-prompt-link {
  position: absolute;
  top: 3%;
  left: 24%;
  border-bottom: 1px solid $light-default;
  font-size: $xs;

  a {
    color: $light-default;

    &:hover {
      text-decoration: none;
    }
  }
}

.saved {
  font-size: $xs;
  font-weight: $light;
  color: $default;
  position: absolute;
  top: 7%;
  right: 6%;
}

.close {
  font-size: $small;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;

  a {
    color: $light-default;
    &:hover {
      color: $default;
      text-decoration: none;
    }
  }
}

.writing-area {
  width: 60%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;

  textarea {
    font-family: $serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: $large;
    color: #444;
    resize: none;
  }
}

// PROFILE

.stats {
  margin-top: 5%;
  font-size: $xl;
  color: $default;
  font-weight: $light;

  span {
    border-bottom: 1px dotted $default;
    color: #444;
  }

  .word-stats, .point-stats {
    margin-bottom: 50px;
  }
}

.top-left {
  .write-button {
    position: absolute;
    top: 5%;
    left: 5%;
    color: $default;
    padding: 5px 20px;
    outline: 1px solid $light-default;

    &:hover {
      transition: all 0.3s ease;
      outline: 2px solid $default;
      color: $default;
      text-decoration: none;
    }
  }

  .archive-profile-link {
    position: absolute;
    top: 13%;
    left: 6%;
    text-decoration: underline;
    color: $default;
  }
}

.top-right {
  .logout {
    position: absolute;
    top: 5%;
    right: 5%;
    color: $default;
    text-decoration: underline;
  }
}

// ARCHIVES
.title {
  margin-top: 10%;
  color: #444;
  font-size: $xl;
}

.articles {
  margin-top: 5%;
  font-family: $serif;

  article {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: $small;

    .date {
      font-family: $sans;
      font-weight: $light;
      font-size: $xs;
      margin-bottom: 20px;
      color: $light-default;
    }

    color: $default;
  }
}

// LOGIN
.brand{
  font-size: $xl;
  color: #444;
  position: absolute;
  top: 15%;
  left: 45%
};

.login-form {
  text-align: center;
  margin-top: 20%;

  .form-field {
    margin-top: 20px;
    margin-bottom: 50px;

    input {
      font-size: $large;
      font-weight: $light;
      color: $default;
      background: transparent;
      border: none;
      border-bottom: 2px solid $default;
      outline: none;
      padding: 10px;

      &::-webkit-input-placeholder {
        color: $light-default;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $light-default;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: $light-default;
      }

      &:-ms-input-placeholder {
        color: $light-default;
      }
    }
  }

  .submit-form {
    font-size: $large;

    input {
      border: none;
      color: $default;
      outline: 1px solid $light-default;
      background: transparent;
      padding: 5px 50px;

      &:hover {
        transition: all 0.3s ease;
        outline: 2px solid $default;
      }
    }
  }
}
