.articles {
  margin-top: 5%;
  font-family: $serif;

  article {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: $small;
    color: $default;

    h1, h2, h3, h4 {
      font-family: "League Gothic", sans-serif;
    }

    .date {
      font-family: $sans;
      font-weight: $light;
      font-size: $xs;
      margin-bottom: 20px;
      color: $secondary;
    }
  }

  .pagination {
    margin-bottom: 100px;
    font-family: $sans;

    a {
      color: $default;
    }

    .current {
      color: $secondary;
      font-style: normal;
    }
  }
}

