.title {
  margin-top: 10%;
  color: $dark-default;
  font-size: $xl;
}

.articles {
  margin-top: 5%;
  font-family: $serif;

  article {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: $small;

    h1, h2, h3, h4 {
      font-family: "League Gothic", sans-serif;
    }

    .date {
      font-family: $sans;
      font-weight: $light;
      font-size: $xs;
      margin-bottom: 20px;
      color: $light-default;
    }

    color: $default;
  }
}

