.achievements {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.achievements-stats-page {
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  margin-bottom: 10%;
}

.achievement {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  font-family: $sans;
  font-weight: $regular;
  font-size: $small;
  color: $default;
  margin: 40px 40px 0 40px;
  text-align: center;
}

.achievement--description {
  font-size: $xs;
  font-weight: 400;
  text-align: center;
}

.badge {
  background-size: cover;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-right: 20px;
}

.badge-small {
  background-size: cover;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.bronze-badge {
  @extend .badge;
  background-image: url("https://s3-us-west-2.amazonaws.com/verba-prod/bronze.png");
}

.silver-badge {
  @extend .badge;
  background-image: url("https://s3-us-west-2.amazonaws.com/verba-prod/silver.png");
}

.gold-badge {
  @extend .badge;
  background-image: url("https://s3-us-west-2.amazonaws.com/verba-prod/gold.png");
}

.bronze-badge-small {
  @extend .badge-small;
  background-image: url("https://s3-us-west-2.amazonaws.com/verba-prod/bronze.png");
}

.silver-badge-small {
  @extend .badge-small;
  background-image: url("https://s3-us-west-2.amazonaws.com/verba-prod/silver.png");
}

.gold-badge-small {
  @extend .badge-small;
  background-image: url("https://s3-us-west-2.amazonaws.com/verba-prod/gold.png");
}
