body {
  font-family: $sans;
  background-color: $background;
  height: 100vh;
}

.container {
  height: 100%;
}

.center {
  height: 100%;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

.title {
  color: $dark-default;
  font-family: $sans;
  font-size: $large;
}

.hidden {
  display: none;
}

.link {
  display: inline;
  font-family: $sans;
  color: $light-default;
  border-bottom: 1px solid $secondary;
  padding: 3px;

  &:hover, &:focus, &:active {
    color: $default;
    text-decoration: none;
  }
}

.link__small {
  @extend .link;
  font-size: $xs;
}

.brand {
  font-family: $sans;
  font-size: $brand;
  text-transform: uppercase;
  color: $dark-default;
  position: absolute;
  top: 10%;
  left: 42%;
}

.verba-brand {
  width: 250px;
  margin: auto;
}

.verba-logo {
  width: 250px;
}

.date {
  font-family: $sans;
  font-weight: $light;
  font-size: $xs;
  margin-bottom: 20px;
  color: $secondary;
}

.prompts {
  table {
    tr {
      border-bottom: 1px solid #999;

      th {
        font-size: 18px;
        font-weight: bold;
      }

      td {
        font-size: 14px;
        padding: 5px;
        border-right: 1px solid #C8C8C8;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
}

h4 {
  font-weight: $regular;
}

.pagination {
  font-size: $small;
  text-align: center;
  color: $default;
  margin: 30px;


  a {
    color: $default;
  }

  .next_page, .previous_page {
    @extend .link;
  }

  * {
    margin: 0 3px;
  }

  .disabled {
    color: $light-default;
    border: none;
    padding: 0;
  }
}

.writers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.writers-table {
  font-size: $small;
  color: $default;

  tr {
    border-bottom: 1px solid $light-default;
  }

  td, th {
    padding: 20px;
    text-align: center;
  }
}

.heading {
  @extend .title;
  margin: 0;
}
