body {
  font-family: $sans;
  background-color: $background;
}

.title {
  color: $dark-default;
  font-family: $sans;
  font-size: $large;
}

.hidden {
  display: none;
}

.link {
  font-family: $sans;
  color: $light-default;
  border-bottom: 1px solid $secondary;
  padding: 3px;

  &:hover, &:focus {
    color: $default;
    text-decoration: none;
  }
}

.link__small {
  @extend .link;
  font-size: $xs;
}

.brand {
  font-family: $sans;
  font-size: $brand;
  text-transform: uppercase;
  color: $dark-default;
  position: absolute;
  top: 10%;
  left: 42%;
}

.verba-brand {
  width: 250px;
  margin: auto;
}

.verba-logo {
  width: 250px;
}

.date {
  font-family: $sans;
  font-weight: $light;
  font-size: $xs;
  margin-bottom: 20px;
  color: $secondary;
}
