body {
  font-family: $sans;
  background-color: $background;
}

.title {
  margin-top: 10%;
  color: $default;
  font-family: $sans;
  font-size: $xl;
}

.hidden {
  display: none;
}

.link {
  font-family: $sans;
  color: $light-default;
  border-bottom: 1px solid $secondary;

  &:hover {
    color: $default;
    text-decoration: none;
  }
}

.link__small {
  @extend .link;
  font-size: $xs;
}

.brand {
  font-family: $sans;
  font-size: $brand;
  text-transform: uppercase;
  color: $dark-default;
  position: absolute;
  top: 10%;
  left: 42%;
}
