$white: #FDFDFD;
$background: $white;
$default: #666;
$light-default: lighten($default, 10%);
$dark-default: darken($default, 10%);
$dark-hover: darken($default, 5%);
$secondary: darken(#B0E2FF, 10%);
$secondary-hover: darken($secondary, 5%);
