.comment-box__input {
  textarea {
    width: 100%;
    border: 1px solid $light-default;
    border-radius: 3px;
    outline: none;
    resize: none;
    padding: 5px;
    transition: border 0.3s ease;

    &:focus {
      border: 1px solid $secondary;
    }
  }

  .button {
    margin: 20px 0;
  }
}
