// FONT SIZES
$xs: 12px;
$small: 18px;
$medium: 24px;
$large: 32px;
$xl: 40px;
$brand: 54px;

// FONT COLORS
$default: darken(#bbb, 25%);
$light-default: #bbb;

// FONT FACES
$sans: 'League Gothic', sans-serif;
$serif: 'Sorts Mill Goudy', serif;

// FONT WEIGHTS
$light: 300;
$regular: 400;
$bold: 700;
