.form {
  text-align: center;
  margin-top: 20%; 

  &.signup {
    margin-left: 13%;
    .form-group { 
      display: inline-block;
    }
  }
}

.form-field {
    margin-top: 20px;
    margin-bottom: 50px;

    input {
      font-size: $medium;
      font-weight: $light;
      color: $secondary;
      background: transparent;
      border: none;
      border-bottom: 2px solid $default;
      outline: none;
      padding: 10px;
      width: 100%;
      text-align: center;

      &::-webkit-input-placeholder {
        color: $secondary;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $secondary;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: $secondary;
      }

      &:-ms-input-placeholder {
        color: $secondary;
      }
    }
  }

.submit-form {
  input {
    @extend .button
  }
}

.login-or-register {
  margin-top: 10px;
  display: inline-block;
}

