$input_width: 350px;

.form {
  text-align: center;

  &.signup {

    .form-group { 
      display: inline-block;
      min-width: 60%;
    }

  }

  &.signin {

    .form-group {
      display: inline-block;
      text-align: center;
    }

  }
}

.form-errors {
  max-width: $input_width - 50px;
  margin: auto;
  border-bottom: 2px solid $error;
  padding-bottom: 5px;
  // margin-bottom: 10px;
  color: orangered;
  text-align: center;
}

.form-field {
  margin: 20px auto 50px auto;
  text-align: center;

  input {
    font-size: $small;
    font-weight: $light;
    font-family: $courier;
    color: $default;
    background: transparent;
    border: none;
    border-bottom: 2px solid $default;
    outline: none;
    padding: 10px;
    text-align: center;
    min-width: 300px;
    max-width: $input_width;
  }

  .field_with_errors input {
    border-bottom: 2px solid $error;

    &::-webkit-input-placeholder {
      color: lighten($error, 10%);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: lighten($error, 10%);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: lighten($error, 10%);
    }

    &:-ms-input-placeholder {
      color: lighten($error, 10%);
    }
  }

  .error-msg {
    color: $error;
  }
}

.submit-form {
  text-align:center;

  input {
    @extend .button
  }
}

.login-or-register {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  margin-top: 10px;
}

