.hero-title {
  font-size: $xl;
}

.hero-subheading {
  font-size: $medium;
}

.about-list {
  list-style: none;
  margin-top: 100px;
}

.about-list__item {
  margin: 20px 0;
  font-size: $small;
}

#landing-page-register-button {
  margin: 50px;
}
