.back {
  color: $default;
  position: fixed;
  margin-top: 2%;

  &:hover {
   color: $dark-default;
  }
}

.post {
  margin-left: 40%;
  margin-top: 5%;

  .content {
    font-family: $courier;
  }

  .prompt {
    font-size: $small;
  }
}
