.back {
  color: $default;
  position: fixed;
  margin-top: 2%;
  z-index: 1;

  &:hover {
   color: $dark-default;
  }
}

.back-main {
  @extend .back;
  margin: 0;
}

.post {
  margin-left: 40%;
  margin-top: 5%;

  .content {
    font-family: $courier;
    font-size: $small;
  }

  .prompt {
    font-size: $small;
  }
}

.filter {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.8;
}

.blank-state-explanation {
  position: absolute;
  width: 50%;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.select-prompt-section {
  margin-top: 15%;
}

.select-prompt-section__today {
  margin-right: 30px;
  width: 400px;
}

.select-prompt-section__random {
  margin-left: 30px;
  width: 400px;
}

.select-prompt-section__divider {
  height: 200px;
  width: 2px;
  background: $default;

  &:after {
    content: "|";
    display: none;
  }
}

.writing-prompt {
  font-size: $small;
  font-family: $courier;
}

.prompt-links {
  height: 75px;
}

.refresh-random-prompt {
  font-size: $small;
  color: $secondary;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    transition: transform 0.5s;
    transform: rotate(90deg);
  }
}

