.stats {
  margin-top: 5%;
  font-size: $xl;
  color: $default;
  font-weight: $light;

  span {
    border-bottom: 1px solid $secondary;
    color: $default;
  }

  .word-stats, .streak-stats {
    margin-bottom: 50px;
  }

  .day-cell {
    border-radius: 50%;
    border: 1px $default solid;
    background: $secondary;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    display: inline-block;
  }
}

.top-left {
  .write-button {
    @extend .button;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .archive-profile-link {
    position: absolute;
    top: 14%;
    left: 7%;
    color: $default;
    border-bottom: 1px solid $secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

.top-right {
  .logout {
    position: absolute;
    top: 5%;
    right: 5%;
    color: $default;
    border-bottom: 1px solid $secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

