.stats {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  margin-top: 5%;
  font-size: $large;
  color: $default;
  font-weight: $light;
}

.other-stats {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  font-size: $medium;
  font-weight: $regular;
  margin: 0 40px 40px 40px;

  .other-stat {
    text-align: center;

    &:first-child {
      margin-right: 60px;
    }

    p {
      font-size: $xs;
    }
  }
}

.days {
  &:after {
    content: "."
  }
}

.word-stats, .streak-stats {
  margin-bottom: 50px;
}

.days-visual {
  margin-bottom: 5%;
}

.word-count-for-day {
  position: absolute;
  top: -50px;
  left: -30px;
  font-size: $xs;
  text-align: center;
  background: $default;
  border-radius: 3px;
  color: white;
  width: 80px;
}

.day-cell {
  position: relative;
  border-radius: 50%;
  background: $secondary;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

.empty-day-cell {
  border-radius: 50%;
  background: $lightest-default;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

.top-left {
  .write-button {
    @extend .button;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .archive-profile-link {
    position: absolute;
    top: 14%;
    left: 7%;
    color: $default;
    border-bottom: 1px solid $secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

.top-right {
  .logout {
    position: absolute;
    top: 5%;
    right: 5%;
    color: $default;
    border-bottom: 1px solid $secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

// Custom profile changes

.sidebar-links {
  min-height: 55px;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);
}

.container.profile {
  margin: 0;
  padding: 0;
  width: 100%;
}
.verba-brand-side {
  margin: 0 auto;
  width: 150px;
  text-align: left;
}
.verba-logo-small {
  width: 150px;
}
.user-profile {
  border: 1px solid #F2F5F8;
  height: 100vh;
  padding: 0;
  text-align: center;
  position: fixed;
  color: $dark-default;

  .username {
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    font-size: 2rem;
    margin: 20px;
  }
}

.stats-container {
  border-top: 1px solid #F2F5F8;
  height: 100%;
  padding: 30px 0;

  .stat {
    padding: 10px;
  }

  .number {
    font-size: 3rem;
    margin-bottom: 10px;
  }
}

.user-posts {
  margin-left: 25%;
  .post-teaser {
    border-bottom: 1px solid #F2F5F8;
    padding: 30px 0;
  }

  .post-date {
    font-size: 2rem;
  }

  .post-excerpt {
    font-family: $courier;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    .post-excerpt-link {
      color: $default;
    }
  }
}

.log-out {
  margin-top: 15%;
}

.user-settings-button {
  color: $secondary;
  font-size: $small;
  margin-left: 5px;
  display: flex;
  align-items: center;

  &:hover {
    color: $secondary-hover;
    text-decoration: none;
  }
}

.user-settings-button__explanation {
  font-size: $xs;
  margin-left: 5px;
}
