.settings-section {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  margin-top: 5%;
  font-size: $large;
  color: $default;
  font-weight: $light;
}

.settings-form {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  font-size: $small;
}
