.welcome {
  font-size: $small;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
}

.get-started {
  margin: 50px;
}

.welcome-list {
  list-style: none;
}

.welcome-list__item {
  margin: 20px 0;
}
