.writing-prompt-section {
  text-align: center;
  color: $default;

  .writing-prompt {
    font-family: $courier;
    font-size: $medium;
  }
}

.start-writing {
  @extend .button;
  margin: 5% 0;
  font-size: $large;
}

.word-count {
  font-family: $courier;
  font-weight: $light;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: $small;
  color: $light-default;
  cursor: default;

  &:hover {
    transition: color 100ms;
    color: $default;
  }
}

// .save-button {
//   font-family: $courier;
//   font-size: $xs;
//   font-weight: $light;
//   color: $default;
//   position: absolute;
//   top: 7%;
//   right: 10%;
// }

.close {
  font-size: $small;
  font-family: $sans;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;

  input {
    color: $default;
    border: none;
    background: none;
    outline: none;
  }
}

.save-exit {
  font-family: $courier;
  position: absolute;
  top: 6%;
  right: 2%;
  font-size: $xs;
  color: $secondary-hover;
}

.writing-area {
  width: 60%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;

  textarea {
    background: $background;
    font-family: $courier;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: $medium;
    color: $dark-default;
    resize: none;
  }
}

.loading {
  display: block;
  width: 100px;
  margin: 25% auto;
  font-size: $large;
  font-family: $courier;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: #fff;
  position: absolute;
  opacity: 0.8;
  z-index: 1;
}

.modal-container {
  // @extend .center;
}

.modal {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 30%;
  font-family: $courier;
  z-index: 2;
  background: #fff;
  @include box-shadow;
  @extend .center;

  p {
    font-size: $small;
    margin: 0 0 20px 0;
    text-align: center;
    width: 75%;
  }
}
